* {
    box-sizing: border-box;
}

body {
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    margin:0;
    
}

section, nav {
    max-width: 70%;
    margin: 0 auto;
}

nav {
    display:flex;
    align-items:center;
    justify-content:space-between;
    
    .logo {
        font-size:24px;
        color:#f9faf8;
    }

    a {
        text-decoration:none;
        font-size:18px;
        color:#e5e7ebaa;

        &:hover {
            color:#e5e7eb;
        }
    }

    ul {
        display:flex;
        list-style: none;
        li {
            padding:0 10px;
        }
    }
}

section.hero {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin:100px auto;

    .hero-content {
        h1 {
            font-size: 48px;
            font-weight: 900;
            color: #f9faf8;
            margin:0;
        }
        p {
            font-size:18px;
            color:#e5e7ebcc;
            max-width:90%;
            margin: 0 0 10px;
        }
        button {
            border:none;
            border-radius:5px;
            padding:10px 30px;
            background-color: #3882f6;
            color: #f9faf8;
            font-weight: 600;
            transition: background-color 0.2s;
            cursor: pointer;

            &:hover {
                background-color: #3882f6dd;
            }
        }
    }
    img {
        margin:0 auto;
        width:600px;
        height:200px;
        object-fit: cover;       
    }
}