* {
    overflow: hidden;
    box-sizing: border-box;
}

body {
    background-color: #1f2937;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    max-width: 70%;
    margin: 0 auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
    
    .logo {
        font-size:24px;
        color:#f9faf8;
    }

    a {
        text-decoration:none;
        color:#f9faf8aa;
    }

    ul {
        display:flex;
        li {
            padding:0 10px;
        }
    }
}

