* {
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;
    margin:0;
    
}

.container {
    max-width: 70%;
    margin:0 auto;
}

nav {
    background-color: #1f2937;
    .container {
        display:flex;
        align-items:center;
        justify-content:space-between;
        
        .logo {
            font-size:24px;
            color:#f9faf8;
        }

        a {
            text-decoration:none;
            font-size:18px;
            color:#e5e7ebaa;

            &:hover {
                color:#e5e7eb;
            }
        }

        ul {
            display:flex;
            list-style: none;
            li {
                padding:0 10px;
            }
        }
    }
}

section.hero {
    background-color: #1f2937;
    .container {
        padding-top:100px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom:100px;

        .hero-content {
            h1 {
                font-size: 48px;
                font-weight: 900;
                color: #f9faf8;
                margin:0;
            }
            p {
                font-size:18px;
                color:#e5e7ebcc;
                max-width:90%;
                margin: 0 0 10px;
            }
            button {
                border:none;
                border-radius:5px;
                padding: 10px 30px;
                background-color: #3882f6;
                color: #f9faf8;
                font-weight: 600;
                cursor: pointer;
                transition: background-color 0.2s;

                &:hover {
                    background-color: #3882f6dd;
                }
            }
        }
        img {
            margin:0 auto;
            width:500px;
            height:220px;
            object-fit: cover; 
        }
    }
}

section.information {
    .container {
        max-width:60%;
        padding-bottom:100px;
        h2 {
            font-size: 36px;
            font-weight:900;
            color:#1f2937;
            text-align: center;
        }
        .cards {
            display:flex;
            justify-content: space-between;
            
            .card {
                .image-border {
                    border: 4px solid #3882f6;
                    border-radius:10px;
                    width:150px;
                    height:150px;
                }
                p {
                    width: 150px;
                    text-align: center;
                    color:#555;
                }
            }
        }
    }
}

section.quote {
    background-color: #e5e7eb;
    .container {
        max-width:60%;
        padding:100px 0;
        p {
            font-size:36px;
            font-weight: 300;
            margin:0;
        }
        .author {
            font-size:20px;
            width: fit-content;
            margin-left:auto;
        }
    }
}

section.cta {
    .container {
        border-radius: 7px;
        background-color: #3882f6;
        color: #f9faf8;
        display: flex;
        justify-content: space-around;
        margin: 100px auto;
        padding: 50px 0;
        h3 {
            margin: 0;
        }
        p {
            color:#e5e7ebdd;
            margin: 0;
        }
        button {
            border-radius:10px;
            padding: 0 30px;
            background-color: #3882f6;
            color: #f9faf8;
            font-weight: 600;
            cursor: pointer;
            box-shadow: 0;
            transition: box-shadow 0.5s;
            border: 2px solid #f9faf8;

            &:hover {
                box-shadow: 0px -3px 23px 1px #e5e7eb;
            }
        }
    }
}

footer {
    background-color: #1f2937;
    .container {
        padding:25px;
        color: #e5e7ebdd;
        text-align: center;
    }
}

@media only screen and (min-width: 1400px) {
    nav .container {
        padding-bottom:150px;
    }
    section.hero .container{ 
        padding-bottom:150px;
        img {
        width:400px;
        height:250px;
        }
        .hero-content p {
            max-width:60%;
            padding-bottom:20px;
        }
    }
    section.information .container {
        padding-top:100px;
    }
}

@media only screen and (max-width: 1024px) {
    nav .container {
        flex-direction: column;
        align-items: flex-start;
        ul {
            flex-direction: column;
            padding:0;
            li {
                padding:5px 0;
            }
        }
    }

    section.hero .container {
        padding-top:50px;
        flex-direction: column;
        
        img {
            margin-top:50px;
            width:60vw;
            height:40vw;
        }
    }

    section.information .container .cards {
        flex-wrap: wrap;
        .card {
            padding:26px;
        }
    }
    section.cta .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px 50px;

        button {
            margin-top:20px;
            padding: 3px 20px;
        }
    }
}

@media only screen and (max-width: 768px) {
    section.information .container .cards {
        justify-content: center;
    }
}